name: vHive setup scripts build tests

on:
    push:
      branches: [ main, legacy-firecracker-v0.24.0-with-upf-support ]
      paths-ignore:
      - 'docs/**'
      - '**.md'
    pull_request:
      branches: [ main, legacy-firecracker-v0.24.0-with-upf-support ]
      paths-ignore:
      - 'docs/**'
      - '**.md'
    workflow_dispatch:
  
env:
    GOOS: linux
    GO111MODULE: on

jobs:
    build_setup:
        name: Build setup scripts
        runs-on: ubuntu-24.04
        steps:

        - name: Check out the code
          uses: actions/checkout@v6

        - name: Set up Go version in go.mod file
          uses: actions/setup-go@v6
          with:
            go-version-file: ${{ github.workspace }}/go.mod
            cache-dependency-path: |
              **/go.sum
              **/go.mod

        - name: Build scripts
          run: pushd scripts && go build -o setup_tool && popd
        
        - name: Show scripts help info
          run: ./scripts/setup_tool -h
        