name: vHive setup scripts build tests

on:
    push:
      branches: [ main, legacy-firecracker-v0.24.0-with-upf-support ]
      paths-ignore:
      - 'docs/**'
      - '**.md'
    pull_request:
      branches: [ main, legacy-firecracker-v0.24.0-with-upf-support, openyurt ]
      paths-ignore:
      - 'docs/**'
      - '**.md'
    workflow_dispatch:
  
env:
    GOOS: linux
    GO111MODULE: on

jobs:
    build_setup:
        name: Build setup scripts
        runs-on: ubuntu-20.04
        steps:
        - name: Set up Go 1.19
          uses: actions/setup-go@v5
          with:
            go-version: '1.19'
        
        - name: Check out the code
          uses: actions/checkout@v4

        - name: Build scripts
          run: pushd scripts && go build -o setup_tool && popd
        
        - name: Show scripts help info
          run: ./scripts/setup_tool -h
        
