name: vHive gVisor CRI tests

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'function-images/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'function-images/**'
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * 1'

env:
  GO111MODULE: on

jobs:
  gvisor-cri-tests:
    uses: ./.github/workflows/cri_tests.yml
    with:
      sandbox: gvisor