name: vHive integration tests

on:
  push:
    branches: [ main, legacy-firecracker-v0.24.0-with-upf-support ]
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'function-images/**'
  pull_request:
    branches: [ main, legacy-firecracker-v0.24.0-with-upf-support ]
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'function-images/**'
  workflow_dispatch:
  schedule:
    - cron: '0 19 * * 1'

env:
  GOOS: linux
  GO111MODULE: on

jobs:
  integration-tests:
    name: Integration tests
    runs-on: [self-hosted , integ]
    strategy:
      fail-fast: false
      matrix:
        test-name: [test, test-man-bench]
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v5
      with:
        go-version: '1.19'

    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Upgrade git
      run: |
        sudo add-apt-repository ppa:git-core/ppa -y
        sudo apt update
        sudo apt install git -y

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        lfs: true
    
    - name: Build setup scripts
      run: pushd scripts && go build -o setup_tool && popd
    
    - name: Pull binaries
      run: ./scripts/setup_tool setup_firecracker_containerd

    - name: Build
      run: go build -race -v -a ./...

    - name: Run vHive end-to-end tests
      run: make ${{ matrix.test-name }}

    - name: Archive log artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: ctrd-logs
        path: |
          /tmp/ctrd-logs/
          ${{ github.workspace }}/*.log
          ${{ github.workspace }}/scripts/github_runner/*.log
          
    - name: Cleaning
      if: ${{ always() }}
      run: ./scripts/setup_tool clean_fcctr
