name: vHive self-hosted KinD

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '**.md'

defaults:
  run:
    shell: bash

env:
  KUBECONFIG: /etc/kubernetes/admin.conf

jobs:
  vhive-self-hosted-kind:
    name: vHive self-hosted KinD
    runs-on: [stock-knative]
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        names: [Bora, Michal, Dmitrii]
    env:
      GITHUB_RUN_ID: ${{ github.run_id }}
    steps:
      - name: Host Info
        run: |
          echo $HOSTNAME
          echo $GITHUB_RUN_ID

      - uses: actions/checkout@v2
        with:
          path: vhive
          lfs: true

      - name: Up chained-function-eventing
        run: |
          set -x

          ./vhive/function-images/tests/chained-function-eventing/manifests/apply.sh
          sleep 120

      - name: Invoke
        run: |
          set -x

          export NODEPORT=$(kubectl get svc kourier-ingress -n kourier-system -o=jsonpath='{.spec.ports[0].nodePort}')
          export HOSTNAME=$(kubectl get ksvc producer -n chained-functions-eventing -o jsonpath='{.status.url}' | cut -c8-)

          ./vhive/bin/grpcurl -d '{ "name": "${{ matrix.test-name }}", "vHiveMetadata": "eyAiV29ya2Zsb3dJZCI6ICJXRklEIiwgIkludm9jYXRpb25JZCI6ICJJVklEIiwgIkludm9rZWRPbiI6ICIyMDIxLTA3LTEzVDA5OjM4OjE3Ljc5OTI3NzE0Mi0wNDowMCIgfQ==" }' -plaintext $HOSTNAME:$NODEPORT helloworld.Greeter.SayHello

      - name: Cleaning
        if: ${{ always() }}
        run: ./vhive/function-images/tests/chained-function-eventing/manifests/delete.sh